@{
       ViewBag.Title = "Home Page";
}

                <!-- main content start -->
                @*<div class="main-content">*@

                    <!-- content -->
                    <div class="container-fluid content-top-gap">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb my-breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("SDashboard")>Utama</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Papan Pemuka</li>
                            </ol>
                        </nav>
                        <div class="welcome-msg pt-3 pb-4">
                            <h1>Assalamualaikum <span class="text-primary"> @Session["userRole"]</span></h1>
                            <p></p>
                        </div>


                        <!-- statistics data -->
                        <div class="statistics">
                            <div class="row">
                                <div class="col-xl-6 pr-xl-2">
                                    <div class="row">
                                        <div class="col-sm-12 pr-sm-2 statistics-grid">
                                            <div class="card card_border border-primary-top p-4">
                                                <i class="lnr lnr-users"> </i>
                                                <h3 class="text-primary number">@ViewBag.Teacher</h3>
                                                <p class="stat-text">Jumlah Pengajar</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 pl-xl-2">
                                    <div class="row">
                                        <div class="col-sm-12 pl-sm-2 statistics-grid">
                                            <div class="card card_border border-primary-top p-4">
                                                <i class="lnr lnr-cart"> </i>
                                                <h3 class="text-danger number">@ViewBag.Package</h3>
                                                <p class="stat-text">Jumlah Pakej</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //statistics data -->
                        
                        
                        <!-- accordions -->
                        <div class="accordions">
                            <div class="row">
                                <!-- accordion style 1 -->
                                <div class="col-lg-12 mb-4">
                                    <div class="card card_border">
                                        <div class="card-header chart-grid__header">
                                            Bootstrap Accordions
                                        </div>
                                        <div class="card-body">
                                            <div class="accordion" id="accordionExample">
                                                <div class="card">
                                                    <div class="card-header bg-white p-0" id="headingOne">
                                                        <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                                                           aria-expanded="true" aria-controls="collapseOne">Dimanakah Pelajar dapat melihat penilaian prestasi bulanan? </a>
                                                    </div>

                                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                         data-parent="#accordionExample">
                                                        <div class="card-body para__style">
                                                            Pelajar dapat mengakses penialain prestasi bulanan pada menu Pengurusan Prestasi Pelajar yang 
                                                            telah disediakan pada bar sisi tersebut.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header bg-white p-0" id="headingTwo">
                                                        <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo">Pengesahan rekod kelas</a>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                        <div class="card-body para__style">
                                                            Pelajar diminta untuk mengesahkan kelas dengan meluluskan penilaian prestasi bulanan selewat-lewatnya minggu ketiga
                                                            pada setiap bulan bagi memudahkan proses selanjutnya.
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //accordion style 1 -->
                            </div>
                        </div>
                        <!-- //accordions -->
                        
                    </div>
                    <!-- //content -->
                </div>
                <!-- main content end-->
               
    </div>
    <!-- //content -->
<!-- main content end-->